{% extends 'base.html' %}

{% load static %}

{% block title %}Lokesh G{% endblock %}





{% block content %}


<br/>
<br/>
<br/>
<br/>
<div class="alert alert-primary" role="alert">
  Your PC ran into problem and needs to restart.<a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-secondary" role="alert">
 Your PC ran into problem and needs to restart. <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-success" role="alert">
  Your PC ran into problem and needs to restart. <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-danger" role="alert">
  Your PC ran into problem and needs to restart. <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-warning" role="alert">
  Your PC ran into problem and needs to restart.<a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-info" role="alert">
  A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-light" role="alert">
  Your PC ran into problem and needs to restart.<a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-dark" role="alert">
  Your PC ran into problem and needs to restart. <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>

{% endblock %}